<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'inc/headers.html' %}
    <title>{% block title %}Keep Try{% endblock %} - Coding</title>
    <link rel="shortcut icon" href="/media/fav.ico"/>
</head>
<body class="off-canvas-nav-left">

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NVSFDB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NVSFDB');</script>
<!-- End Google Tag Manager -->

<div class="container-fluid">
    <div class="row-fluid">
    {% include 'inc/top_nav.html' %}
        <div class="col-xs-12 col-md-8 col-lg-9">
            <div id="main">
                <div id="main-inner">
                    {% block content %}
                    <div>这里是默认内容，所有继承自这个模板的，如果不覆盖就显示这里的默认内容。</div>
                    {% endblock %}
                </div>
            </div>    
        </div>
        <div class="col-md-4 col-lg-3">
            {% include 'inc/me.html' %}
        </div>  
    </div>
</div>
{% include 'inc/footer.html' %}
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>  

    <script type="text/javascript">
        $('#myAffix').affix({
            offset: {
                top: 100,
                bottom: function () {
                    return (this.bottom = $('.footer').outerHeight(true))
                }
            }
        });
        $('#myAffix').affix('checkPosition');
        $('#myAffix').width($('#myAffix').parent().width());
    </script>
</body>
</html>