<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'inc/headers.html' %}
    <title>{% block title %}Keep Try{% endblock %} - Coding</title>
    <link rel="shortcut icon" href="/media/fav.ico"/>
</head>
<body >
{% include 'inc/topview.html' %}
<div class="container-fluid">
    <div class="row-fluid">
                <div class="col-xs-8 col-xs-offset-1  col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1">
                    <div id="main">
                        <div id="main-inner">
                            {% include 'inc/nav.html' %}
                            {% block content %}
                                <div>这里是默认内容，所有继承自这个模板的，如果不覆盖就显示这里的默认内容。</div>
                            {% endblock %}
                        </div>
                    </div>    
                </div>
                <div class="col-xs-2 col-md-2 col-lg-2">
                    {% include 'inc/me.html' %}
                    {% include 'inc/tag_cloud.html' %}
                    {% include 'inc/suggest.html' %}
                </div>
        </div>   
    </div>
</div>
{% include 'inc/footer.html' %}
	<script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [['$','$'], ['\\(','\\)']],
                    processEscapes: true
                }
            });
        </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>  
</body>
</html>