{% extends 'base.html' %}
{% block content %}
    <div id = "list">
        {% if blogList %}
            {% for item in blogList %}
                <div class = "article-block">
                    <p class="title"><a href="/blogList/{{item.title}}/">{{item.title}}</a></p>
                    <p class="abstract">摘要：{{item.summary}}</p>
                    <p class="meta">
                        分类：<a href="/tagList/{{item.tag}}/?tag_id={{item.tag_id}}">{{item.tag}}</a> | 
                        关键词： <a class="tag"> {{item.key_words}}</a>
                    </p>
                </div>
            {% endfor %}
        {% else %}
            未查询到任何结果， 回<a href="/blogList/">首页</a>看看吧！
            <img id="photo" src="/media/noanswer.jpg" alt="">
        {% endif %}
	</div>
{% endblock %}