{% extends 'base.html' %}
  
{% block content %}
    <h1>About me</h1>
    <div id="page-content">
        <h2 id="自我介绍">自我介绍</h2>
        <ul>
            <li>陆闯，90年出生于吉林省长春市</li>
            <li>大学和研究生的时光都在吉林大学度过，2015年获得吉林大学计算机学院理学硕士</li>
            <li>研究生期间没有高大上的论文，感觉自己像个学术混子～～！</li>
            <li>毕业后入职小米公司，在MIUI浏览器组负责服务端开发工作</li>
            <li>喜欢搜索，希望后面可以做一些关于搜索的东西</li>
            <li>喜欢算法，看了点算法导论，对那些算法大牛有一种莫名的崇拜</li>
            <li>喜欢逛一逛各种OJ网站，不是大牛，但有一颗成为大牛的心</li>
            <li>喜欢程序员这个行业，坚信代码能够改变世界，每个程序员都有自己的世界</li>
            <li>曼联球迷，但是不喜欢说别人马桶、表妹...</li>
            <li>北京是个有压力又有希望的地方，不知道自己会走多远</li>
            <li>个人感觉自己很靠谱，但伙伴们统一评价是：还没长大</li>
            <li>最近在练习羽毛球</li>
            <li>坚持跑步，希望可以瘦腿.......</li>
            <li>最后感谢一直以来支持我的小伙伴们，还有帮助过我的前辈</li>
        </ul>
        <h2 id="我的项目">我的项目</h2>
        <ul>
            <li><a href="https://github.com/jluchuang/chuangBlog">chuangBlog</a>：一个简单初步的静态网站，使用python Django搭建，希望可以有一个自己的博客网站</li>
            <li><a href="https://github.com/jluchuang/GantDrawer">GantDrawer</a>：一个简单的时空图回执软件，使用VC++开发，可以用于调度记过展示</li>
            <li><a href="https://github.com/jluchuang/leet-code">leet-code</a>：我个人的一些leet code的题解，记录下来希望有用</li>

            <li>感觉自己现在太弱了，想学的东西太多，时间总是太少，有一点三分钟热血，希望会好起来</li>
            <li>后面想自己写个爬虫，但愿自己能够完成～～</li>
        </ul>
        <h2 id="联系方式">联系方式</h2>
        <ul>
            <li>代码:<a href="https://github.com/jluchuang">github</a></li>
            <li>邮件:jluchuang#163.com（请将“#”替换为“@”）</li>
        </ul>
    </div>        
{% endblock %}