{% extends 'base.html' %}
  
{% block content %}
    <div id="page-content">
        <h2 id="自我介绍">说点什么呢......</h2>
        <ul>
            <li>陆闯，90年出生于吉林省长春市</li>
            <li>大学和研究生的时光都在吉林大学度过，渣硕一枚</li>
            <li>研究生期间没有高大上的论文，感觉自己像个学术混子～～！</li>
            <li>毕业后入职小米公司，在MIUI浏览器组负责服务端开发工作</li>
            <li>C++可能要忘没了，Java还不是特别熟练，Python也能写一点，前端还会用一点Bootstrap</li>
            <li>Mysql, HDFS, Spark, Map Reduce都不大熟练......</li>
            <li>喜欢程序员这个行业，每天坚持搬砖</li>
            <li>曼联脑残粉......</li>
            <li>北京是个有压力又有希望的地方</li>
            <li>许多事情不一定要有希望， 更多的可能是再坚持一下</li>
            <li>最后感谢一直以来支持我的小伙伴们，还有帮助过我的前辈</li>
        </ul>
        <h2 id="关于本站">关于本站</h2>
        <ul>
            <li><a href="https://github.com/jluchuang/chuangBlog">chuangBlog</a>：一个简单初步博客网站，使用python Django搭建，希望可以有一个自己的博客网站</li>
        </ul>
        <h2 id="联系方式">联系方式</h2>
        <ul>
            <li>代码:<a href="https://github.com/jluchuang">github</a></li>
            <li>邮件:jluchuang@163.com</li>
        </ul>
    </div>        
{% endblock %}