{% extends 'base.html' %}

{% block content%}
<div id = "list">
	<div id = "friend1" class = "friends-block">
	    <li>name : menxingxing</li>
	    <li>name : menxingxing</li>
	    <li>name : menxingxing</li>
	    <li>name : menxingxing</li>
	    <li>name : menxingxing</li>
	    <li>name : menxingxing</li>
		<p class = "pic">
    		<img src="/media/friend1.png" width="90%" height="90%"> 
    	</p>
	</div>
	<div id = "friend2" class = "friends-block">
	    <li>name : mengguoqiang</li>
		<p class = "pic">
    		<img src="/media/friend1.png" width="90%" height="90%"> 
    	</p>
	</div>	 	
</div>
{% endblock %}