{% extends 'base.html' %}

{% block content %}
	<div id = "article-title">
    {{article.id}}
	</div>
    <div id = "article-content">
	</div>
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="{{article_obj.title}}" data-title="{{article_obj.title}}" 
         data-url="/blogList/{{article_obj.title}}/">
        
    </div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"chuangkeeptry"};
    (function() {
        var article = {{article | safe}}; 
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
    <!-- 多说公共JS代码 end -->

    <!-- 在 jquery.js 之后引入 -->
    {% load staticfiles %}
    <script src="{% static "js/mycomments.js" %}"></script>

    <script type="text/javascript">
        $(document).ready(function  () {
            intArticle();
        });
        function intArticle(){
            var article = {{ article|safe }};
            var title = article.title;
            $('#article-title').append("<a href = \"/blogList/" + title+ "/ \">"+title+"</a>");
            console.log(title);

            var content = article.content;
            //var showContent = String__nl2br(String__escape(content));
            //console.log(showContent);
            $('#article-content').append(content);
            console.log(content);
        }
	</script>
    {% if user.is_authenticated %}
    <script>
        jQuery(function($) {
            setAuthenticatedUser();
        }); 
    </script>
{% endif %}
{% endblock %}
