{% extends 'base.html' %}

{% block content %}
	<div id = "article-title">
	</div>
    <div id = "article-content"> 	
	</div>
	<script type="text/javascript">
        $(document).ready(function  () {
            intArticle();
        });
        function intArticle(){
            var article = {{ article|safe }};
            var title = article.title;
            $('#article-title').append("<a href = \"/blogList/" + title+ "/ \">"+title+"</a>");
            console.log(title);

            var content = article.content;
            var showContent = String__nl2br(String__escape(content));
            console.log(showContent);
            $('#article-content').append("<h3><pre class = \"prettyprint\">"+showContent+"</pre></h3>");
            console.log(content);
        }
	</script>
{% endblock %}