{% extends 'base.html' %}

{% block content %}
    {% include 'inc/audit_nav.html' %}
	<div id = "article-title">
	</div>
    <div id = "article-content"> 	
	</div>
	<script type="text/javascript">
    	var article = {{ article|safe }};
        var title = article[0].fields.title;
        $('#article-title').append("<a href = \"/blogList/" + title+ "/ \">"+title+"</a>");
        console.log(title);

        var content = article[0].fields.content;
        $('#article-content').append("<h3>"+content+"</h3>");
        console.log(title);
	</script>
{% endblock %}