<div id="topnav">
    <ul>
        <li><a href="/">首页</a></li>

        <li class="sep"> | </li>
        <li><a href="{% url 'tecblog' %}">点滴积累</a></li>
                
        <li class="sep"> | </li>
        <li><a href="{% url 'aboutMe' %}">关于我</a></li>

        <li class="sep"> | </li>
        <li><a href="http://blog.csdn.net/loverooney" target="_blank">CSDN Blog</a></li>

        <li class="sep"> | </li>
        <li><a href="http://weibo.com/u/2083905435/home" target="_blank">微博</a></li>

        <li class="sep"> | </li>
        <li><a href="{% url 'friends' %}" target="_blank">小伙伴们</a></li>
    </ul>
    <div style="clear:both;"></div>  
</div>  