<div class="well">
    <h5>【相关推荐】</h5>
    <div id="suggest" class="sidebar-module sidebar-module-inset">
        <h5>我觉得很好的Blog：</h5>
        <div class="well">
            <a href="http://blog.codinglabs.org/" target="_blank"> CodingLabs </a> | 
            <a href="http://njuaplusplus.com/" target="_blank"> 安的博客 </a> | 
            <a href="http://wuchong.me/" target="_blank"> Jark's Blog </a>
        </div>
        <h5>有用的站点：</h5>
        <div class="well">
            <a href="http://www.bootcss.com/" target="_blank"> Bootstrap中文网 </a> | 
            <a href="http://zerosprites.com/" target="_blank"> 图片压缩 </a> | 
            <a href="https://docs.djangoproject.com" target="_blank"> django </a>
        </div>
    </div>
</div>