<div id="header">
    <div class="container-fluid">
        <div class="col-xs-8 col-xs-offset-1 col-lg-8 col-lg-offset-1" >
            <div id="header-inner">
                <div id="title"><a href="/">Keep Try</a></div>
                <div id="subtitle">不断尝试，做一个有故事的程序员......</div>
            </div>
        </div>
        <div class="col-xs-2 col-lg-2">
            <div id="login">
                <a href="/" class="btn btn-primary active" role="button">Sign up</a>
                <a href="/" class="btn btn-defualt active" role="button">Sign in</a>
            </div>
        </div>
    </div> 
</div>