/* åŸºç¡€è€Œé€šç”¨çš„æ ·å¼ */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}
a {
    text-decoration: none;
    color: #08c;
}
a:hover {
    text-decoration: underline;
}
p {
    font-size: 16px;
    line-height: 1.8em;
    color: #5a5a5a;
}
li {
    line-height: 1.8em;
}
h1, h2, h3, h4 {
    font-weight: normal;
}

/* ä¸ºä»£ç å—å®šä¹‰çš„æ ·å¼ */
/*pre.prettyprint {
    font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace !important;
    font-size: 11px;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
pre.prettyprint ol {
    margin: 0;
}*/
div#article-content pre.prettyprint li {
    margin: 0;
}

/* é¡µé¢å¤´éƒ¨ */
div#header {
    width: 100%;
    background-color: #2f3440;
    height: 50px;
}
div#header-inner {
    width: 100%;
    /*max-width: 1024px;*/
    margin: 0 auto;
    padding-top: 2px;
}

div#search-in-site {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
}

div#header-search {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 2px;
}

div#main {
    margin-bottom: 70px;
}
div#main-inner {
    width: 100%;
    /*max-width: 1024px;*/
    margin: 0 auto;
}
div#title a {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
}
div#subtitle {
    color: rgba(255,255,255,.5);
    font-weight: bold;
    font-size: 11px;
}

/* é¡µé¢åº•éƒ¨ */
div#footer {
  position: static;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}

div#footer-inner {
    border-top: 1px solid #5a5a5a;
    width: 96%;
    /*max-width: 1024px;*/
    margin: 20px auto 0;
}
div#footer-inner p {
    text-align: center;
    font-size: 14px;
}

/* æ–‡ç« é¡µé¢ */
div#article-title {
    margin: 18px 0;
    /*margin-left: 200px;*/
    font-size: 30px;
    border-left: 6px solid #ccc;
    padding-left: 12px;
}
div#article-title a {
    /*margin-left: 200px;*/
    color: #2a2a2a;
}
div#article-content {
    /*margin-left: 200px;*/
}
div#article-content p.picture {
    text-align: center;
}
div#article-content h1,
                    h2,
                    h3 {
    color: #2a2a2a;
}
div#article-content blockquote {
    margin-left: 5px;
    padding-left: 30px;
    border-left: 5px solid #ccc;
    font-size: 14px;
}
div#article-content li {
    margin: 7px 0;
    color: #5a5a5a;
}
div#article-meta {
    color: #999;
    padding: 6px 0;
}
div.article-block {
    border-top: 1px dashed #ccc;
}
div.article-block p.title {
    font-size: 24px;
    /*background-color: gray;*/
    font: bold;
}
div.article-block p.title a {
    color:#333;
}
div.article-block p.meta {
    text-align: right;
    color: #999;
}
div.article-block a.tag {
    margin-right: 6px;
    background-color: #999;
    color: #fff;
    padding: 3px;
    font-size: 14px;
}
div#aboutme {
    margin: 20px auto;
}
div#aboutme p {
    font-size: 14px;
    color: #666;
}
div#rss {
    border-bottom: 1px dashed #ccc;
    margin: 20px auto;
    text-align: right;
}

/* ç‹¬ç«‹é¡µé¢ */
div#page-content p.picture {
    text-align: center;
}
div#page-content h1,
                    h2,
                    h3 {
    color: #2a2a2a;
}
div#page-content blockquote {
    margin-left: 5px;
    padding-left: 30px;
    border-left: 5px solid #ccc;
    font-size: 14px;
}
div#page-content li {
    margin: 7px 0;
    color: #5a5a5a;
}

div#audit-list {
    position: absolute;
    width: 195px;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

div#tag-index h1 {
    border-bottom: 1px dashed #ccc;
}
div#tag-index h1 a {
    color: #2a2a2a;
    font-size: 24px;
}
div#article-tags {
    margin-top: 6px;
}
div#article-tags a.tag {
    margin-right: 6px;
    background-color: #999;
    color: #FFFFFF;
    padding: 3px;
    font-size: 14px;
}

/* å¯¼èˆªæ  */
div#topnav ul {
    margin: 0;
    padding: 0;
    margin-top: 18px;
}
div#topnav ul li {
    list-style: none;
    float: left;
}
div#topnav ul li a {
    display: block;
    color: #2a3440;
}
div#topnav ul li.sep {
    color: #ccc;
    margin: 0 12px;
}
div#topnav ul .form-inline {
    float: right;
}
/* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/
div.friends-block {
    border-top: 1px dashed #ccc;
    margin: 0 12px;
    height: 300px;
}
div.friends-block div.introduce-block{
    width: 65%;
    position: relative;
    float: left;
}

div.friends-block div.introduce-block li{
    margin: 7px 0;
    color: #5a5a5a;
}

div.friends-block div.pic {
    overflow: auto;
    zoom:1;
    width: 30%;
    float: right;
    margin: 1em 1em 1em 1em;
    position: relative;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#photo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    height: 70%;   
}

/* Custom page header */
.header {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
