<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/prettify.css">
    <script type="text/javascript" src="/js/prettify.js"></script>
    <title>欢迎光临</title>
</head>
<body onload="prettyPrint()">
	<div class="fancy">
       <li>Welcome to chuang Blog!!!</li>
       <li>Study and complete it!!!</li>
    </div>

    <pre class="prettyprint">
    #include "x.h"

    main(){

        print("hello world!");

    }
    </pre>
</body>
</html>